.dashboard_list {
  width: 225px;
  background-color: #b8bac5;
  margin-left: 10px;
  margin-top: 10px;
  height: fit-content;
}

.list_title {
  width: 250px;
  background-color: #dddee2;
  margin: 50px;
}

.listopen_container {
  display: flex;
  background-color: #dddee2;
}
