.dashboard_list {
  width: 250px;
  background-color: #b8bac5;
  margin-left: 10px;
  margin-top: 10px;
}

.list_title {
  width: 250px;
  background-color: #dddee2;
  margin: 50px;
  /* margin-left: 20px;
  margin-top: 10px; */
  /* flex-grow: 1; */
}

.listopen_container {
  display: flex;
  background-color: #dddee2;
}
