body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 20px;
    /* justify-content: center; */
  background-color: #87a1ad;
  /* position: fixed; */
  /* width: fit-content; */
  top: 0;
  /* margin-bottom: 40; */

}

.searchfield {
  width: 40%;
}

.navbar_left {
  display: flex;
  position: fixed;
  left: 0px;
  width: 40%;
  justify-content: space-between;
  /* align-items: center; */
  height: 20px;
  font-size: small;
  background-color: #87a1ad;
  opacity: 0.8;
  border-radius: 4px;
}

.navbar_center {
  background-color: #87a1ad;
  position: fixed;
  width: 100px;
  left: 400px;
  font-family: "Charlie Display",sans-serif;
}

.navbar_right {
  background-color: #87a1ad;
  font-family: fantasy;
  opacity: 0.8;
  width: 30%;
  display: flex;
  position: fixed;
  right: 0px;
  height: 20px;
  justify-content: space-around;
  border-radius: 4px;

}
